
body, html {
  height: 100%;
  margin: 0;
  font-size: 15px;
  line-height: 1.8;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #777;
}

.bg{
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../background.jpg");
  height: 100%;

}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin: -81px 0 0 0;
}

.caption .border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.social {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: center;
  letter-spacing: 20px;
}

.social a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  margin: 0;
  text-transform: uppercase;
}
